.MenuBar{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    --MenuBarItemWidth:60px;/*メニューバーのボタン一つ当たりの横幅*/
    background-color: black;
    padding:1px;
}
.MenuBar>div{
    /*メニューラベルとドロップダウン一つごとのコンテナ*/
    width:var(--MenuBarItemWidth);
    /*height:auto; div内の要素はドロップダウンの増減によって変わるので、高さは動的に変わるようにする*/
    display:flex;
    flex-direction: column;
    background-color: black;
}
/*メニューバーラベルのボタン*/
.MenuBar>div>button{
    width: 100%;
    height: 30px;
    background-color: black;
    color: rgb(172, 170, 170);
    border: none;
    border-radius: 3px;
}
.MenuBar>div>button:hover{
    background-color: rgb(46, 46, 46);
    color:white;
}
/*メニューバードロップダウン*/
.MenuBar>div>.Dropdown{
    width:200px;
    /*height:auto ここも可変高*/
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 50;
    padding:2px;
    border-radius: 3px;
}
.Dropdown>hr{
    width: 100%;
}
.Dropdown>button{
    width:100%;
    height:25px;
    background-color: black;
    font:bold 10px sans-serif; 
    color: rgb(172, 170, 170);
    text-align: left;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.Dropdown>button:hover{
    background-color: rgb(46, 46, 46);
    color:white;
}