.pytorchNodeBase{
    width:120px;
    height:40px;
    display: flex;
    flex-direction: row;
    background-color: silver;
    border-radius: 5px;
}

.nodeContentsContainer{
    width:80%;
    height: 100%;
}

.handleContainer{
    width:10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*子要素が均等に並ぶようにしする*/
    /*上下にはある程度のマージンを入れて、ハンドルが上下端に被らないようにしたい*/
    justify-content: space-evenly;
}
/*Canvas内にノードが配置されているときのHandleに対するCSS*/
.handleContainer>.nodeHandle{
    /*
    Handleにデフォルトで働いているスタイルを解除しているようだ
    真偽不明
    */
    position: relative;
    top:auto;
    transform: none;
}

/*Canvas外にノードが配置されているときのdivHandleに対するCSS*/
.handleContainer>div{
    width:10px;
    height:10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
}