.pytorchNodeBase{
    --handleNum:1;
    --handlePhi:10px;
    width:120px;
    /*height:40px;*/
    height:max(40px,(var(--handleNum) + 1) * var(--handlePhi));
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(185, 184, 184, 0.807);
    transition: box-shadow 0.3s ease;
    cursor:grab;
}
/*マウスホバー時の変化*/
.pytorchNodeBase:hover{
    box-shadow: 3px 3px 10px rgba(236, 96, 96, 0.807);
}
.pytorchNodeBase:active{
    cursor:grabbing;
}

.nodeContentsContainer{
    width:calc(100% - 2 * var(--handlePhi));
    height: 100%;
}

.inputContainer{
    width:var(--handlePhi);
    height: 100%;
    position: relative;
}
/*Canvas内にノードが配置されているときのHandleに対するCSS*/
.inputContainer>.nodeHandle{
    width:var(--handlePhi);
    height:var(--handlePhi);
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*Canvas外にノードが配置されているときのdivHandleに対するCSS*/

.outputContainer{
    width:var(--handlePhi);
    height: 100%;
    position: relative;
}
/*
Handleにデフォルトで働いているスタイルを解除しているようだ
真偽不明
*/
.outputContainer>.nodeHandle{
    width:var(--handlePhi);
    height:var(--handlePhi);
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    transform: translate(50%,-50%);
    position:absolute;
}